html {
  scroll-behavior: smooth;
}
.page {
  position: relative;
  display: flex;
  height: 100vh;
  background-image: linear-gradient(rgb(75, 74, 74), rgb(0, 0, 0));
  /* border: 0.3em solid rgb(201, 135, 12); */
  /* height: 99vh; */
}
.navBar {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr; */
  padding: 15px;
}
.navBox {
  justify-self: center;
  align-self: center;
}
.navTag {
  font-size: 15px;
  padding: 20px;
  border-radius: 10px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
#circle {
  border-radius: 50em;
  width: 1em;
  height: 1em;
  border: 2px solid grey;
  margin-left: 3em;
}
.main {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.header {
  display: flex;
  grid-column: 2;
  align-self: center;
  justify-self: right;
  cursor: pointer;
}
h2 {
  margin: 2em;
  color: grey;
}
h2:hover {
  color: white;
}
h5 {
  color: rgb(192, 89, 30);
  font-size: 1.5em;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0;
}
h1 {
  grid-row: 2;
  color: rgb(192, 89, 30);
  font-family: 'Rock Salt', cursive;
  font-size: 9em;
  margin-bottom: 0;
  line-height: 1em;
}
.verticalLine {
  background-color: grey;
  height: 10em;
  width: 0.1em;
  justify-self: center;
  align-self: center;
}
p {
  color: grey;
  font-size: 1em;
  margin: 0 4em 0 4em;
  font-weight: bold;
  font-family: 'Hind', sans-serif;
}
p:hover {
  color: white;
}
.cards {
  width: 40em;
  height: 45em;
  /* border: 0.1em solid rgb(177, 161, 91); */
  justify-self: left;
  align-self: flex-end;
}

.line {
  width: 12em;
  height: 1px;
  background-color: grey;
  margin: 0 1em 0 1em;
  align-self: center;
}
.title {
  align-self: center;
  margin-left: 2em;
}
h3 {
  margin: 0;
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
h4 {
  color: grey;
  font-size: 10px;
  font-family: 'Hind', sans-serif;
}
.slideImg {
  height: 20em;
  width: 35em;
  margin: 1em;
}
button.nav.default-nav {
  margin: 2em;
}

.projects {
  background-color: black;
  height: 150vh;
}

#enter {
  border-radius: 50em;
  width: 4em;
  height: 4em;
  border: 2px solid grey;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 6em;
}
#enter:hover {
  border: white 2px solid;
}
@media (max-width: 1250px) {
  .page {
    width: 100%;
  }
}
