.page {
  position: relative;
  display: flex;
  height: 100vh;
  background-image: radial-gradient(rgb(63, 62, 62), rgb(15, 15, 15));
  border: 0.3em solid rgb(177, 161, 91);
  height: 99vh;
}
.navBar {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 15px;
}
.navBox {
  grid-row: 3;
}
.navTag {
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.main {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.header {
  display: flex;
  grid-column: 2;
  align-self: center;
  justify-self: right;
}
h2 {
  margin: 2em;
}
h1 {
  grid-row: 2;
  color: rgb(177, 161, 91);
  font-family: 'Comfortaa', cursive;
  font-size: 3em;
}
.verticalLine {
  grid-row: 2;
  background-color: rgb(177, 161, 91);
  height: 20em;
  width: 0.1em;
  justify-self: center;
}
p {
  font-size: 1em;
  margin: 0 4em 0 4em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.cards {
  width: 40em;
  height: 30em;
  /* border: 0.1em solid rgb(177, 161, 91); */
  justify-self: left;
  align-self: flex-end;
}

.line {
  width: 8em;
  height: 1px;
  background-color: grey;
  margin: 0 1em 0 1em;
  align-self: center;
}
.title {
  align-self: center;
}
h3 {
  margin: 0;
  color: rgb(165, 163, 163);
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  color: grey;
  font-size: 10px;
}
.slideImg {
  height: 20em;
  width: 15em;
  margin: 1em;
}
