.aboutPage {
  height: 500px;
}

.section-1 {
  background-color: blueviolet;
  height: 150vh;
}
.container {
  background-image: url('https://img.freepik.com/free-vector/digital-white-background-with-binary-code-numbers_1017-25335.jpg?size=626&ext=jpg');
  display: grid;
  grid-template-rows: 1fr 20fr;
  height: 100vh;
}

#about {
  justify-self: center;
  align-self: center;
  width: 85vw;
  background-color: rgba(238, 236, 236, 0.658);
  height: 85vh;
  display: grid;
  grid-template-columns: 5fr 4fr 1fr;
}
.left {
  display: grid;
  color: aliceblue;
}
#photo {
  justify-self: center;
  align-self: center;
}
.right {
  display: grid;
  grid-column: 2;
}
#intro {
  justify-self: center;
  align-self: center;
}

.line {
  width: 12em;
  height: 2px;
  background-color: rgb(236, 178, 90);
  margin-left: 0;
}
.navCircle {
  justify-self: right;
  align-self: center;
  grid-column: 3;
}
#menu-icon {
  opacity: 0.6;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: auto;
}
#menu-icon:hover {
  transform: scale(1.1);
}
#circle1 {
  border-radius: 50em;
  width: 1em;
  height: 1em;
  margin: 1em;
  background-color: rgb(236, 178, 90);
  opacity: 0.5;
}
#circle1:hover {
  opacity: 1;
}
.side-drawer {
  display: grid;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.582);
  position: fixed;
  top: 0;
  right: 0;
  width: 5%;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.253);
  z-index: 100;
  top: 0;
  right: 0;
}
#sideNav {
  justify-self: center;
  align-self: center;
  margin: 1em 0 1em 0;
  opacity: 0.7;
}
#sideNav:hover {
  opacity: 1;
}
#my-footprint {
  text-align: center;
  font-size: 3em;
  font-family: 'Hind', cursive;
  margin-top: 0;
  line-height: 1;
}
.map {
  display: grid;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
#map-secton {
  border: rgb(8, 8, 8) 20px solid;
  justify-self: center;
  align-self: center;
  display: flex;
  padding: 1em;
}
